<!-- <html>

<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
</head>

<body class="customer">
  <%- include('./_menu.ejs') %>
  <%- include('./_inform.ejs') %>
  <div class="align-center">
    <h2 class="text-center">SIGN-UP</h2>
    <form action="./signup" method="POST">
      <table class="align-center">
        <tr>
          <td>Username</td>
          <td><input type="text" name="txtUsername" required /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="txtPassword" pattern=".{3,}" required /></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><input type="text" name="txtName" required /></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><input type="tel" name="txtPhone" pattern="0[0-9]{9}" required /></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="email" name="txtEmail" required /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="SIGN-UP" /></td>
        </tr>
      </table>
    </form>
  </div>
</body>

</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="../signupcuts/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../signupcuts/css/style.css">
</head>
<body>

    <div class="main">

        <div class="container">
            <form method="POST" action="./signup" class="appointment-form" id="appointment-form">
                <h2>SIGN UP</h2>
                <div class="form-group-1">
                    <input type="text" name="txtUsername" placeholder="Username" required />
                    <input type="password" name="txtPassword" pattern=".{3,}" placeholder="Password" required />
                    <input type="text" name="txtName" placeholder="Your Name" required />
                    <input type="tel" name="txtPhone" placeholder="Phone number" pattern="0[0-9]{9}" required />
                    <input type="email" name="txtEmail" placeholder="Email" required />
                </div>
                <div class="form-check">
                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                    <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree to the  <a href="#" class="term-service">Terms and Conditions</a></label>
                </div>
                <div class="form-submit">
                    <input type="submit" class="submit" value="SIGN-UP" />
                </div>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="../signupcuts/vendor/jquery/jquery.min.js"></script>
    <script src="../signupcuts/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>