<div class="border-bottom">
  <div class="float-left">
    <ul id="sidebarnav">
      <li> <a class="waves-effect waves-dark" href="home" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Home</span></a>
      </li>
      <li> <a class="waves-effect waves-dark" href="listcategory" aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu">Category</span></a>
      </li>
      <li> <a class="waves-effect waves-dark" href="listcustomer" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Customer</span></a>
      </li>
      <li> <a class="waves-effect waves-dark" href="listorder" aria-expanded="false"><i class="fa fa-smile-o"></i><span class="hide-menu">Order</span></a>
      </li>
      <li> <a class="waves-effect waves-dark" href="listproduct" aria-expanded="false"><i class="fa fa-globe"></i><span class="hide-menu">Product</span></a>
      </li>
    </ul>
  </div>
  <div class="float-right">
    Hello <b><%=session.admin.username%></b> | <a href="./logout">Logout</a>
  </div>
  <div class="float-clear"></div>
</div>